@media (min-width: 320px) {
    .header, .container section:nth-child(n+1):nth-child(-n+3){
        margin-bottom: 20px;
    }
    .container div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .section-b {
        min-height: 250px;
    }
}

@media (min-width: 1024px) {
    .header, .container section:nth-child(n+1):nth-child(-n+3){
        margin-bottom: 0;
    }
    .container div {
        grid-gap: 0;
        grid-gap: 10px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        min-height: 800px;
    }
    
    .header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .section-f {
        grid-column: 2 / 3;
        grid-row: 2 / 4;

    }
}