.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    min-height: 100vh;
}

.header {
    grid-column: 1/5;
    grid-row: 1/2;
}

.main-content {
    grid-column: 1/4;
    grid-row: 2/4;

}

.sidebar {
    grid-column: 4/5;
    grid-row: 2/4;
}

@media (max-width: 600px) 
  and (max-height: 800px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
        padding: 20px;
        min-height: 100vh;
    }

    .header {
        grid-column: 1/1;
        grid-row: 1/2;
        border-radius: 25px;
    }
    
    .main-content {
        grid-column: 1/1;
        grid-row: 2/5;
        border-radius: 25px;
    
    }
    
    .sidebar {
        grid-column: 1/1;
        grid-row: 5/6;
        border-radius: 25px;
    }


}